---
extends: default
rules:
  line-length:
    max: 200
    level: warning
  truthy:
    allowed-values: ["true", "false", "yes", "no"]
  comments:
    require-starting-space: true
    min-spaces-from-content: 1
  indentation:
    spaces: 2
    indent-sequences: true
    check-multi-line-strings: false
  document-start: enable
  brackets:
    max-spaces-inside: 1
  braces:
    max-spaces-inside: -1
  commas:
    max-spaces-after: -1
ignore: |
  collections/
  .ansible_facts_cache/
