# Managed by Ansible (anssi_base) - ANSSI BP-028 R68
password requisite                       pam_pwquality.so retry={{ anssi_base.pam.pwquality.retry }}
password [success=1 default=ignore]      pam_unix.so obscure use_authtok try_first_pass yescrypt remember={{ anssi_base.pam.pwquality.remember }}
password requisite                       pam_deny.so
password required                        pam_permit.so
